h1 {
  font-weight: bold;
  font-size: 64px;
  
  margin: 20px;

  cursor: default;
}

a {
  text-decoration: underline;
  text-decoration-color: var(--main-color);

  color: var(--accent-color);

  transition: 1s;
}

a:hover {
  text-decoration-color: var(--accent-color);  
}